<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <p>Team Name: <%= @new_team %></p>
    <p>Coach: <%= @new_coach %></p>
    <p>Point Guard: <%= @new_pg %></p>
    <p>Shooting Guard: <%= @new_sg %></p>
    <p>Power Forward: <%= @new_pf %></p>
    <p>Shooting Guard: <%= @new_sf %></p>
    <p>Center: <%= @new_c %></p>
 </body>
</html>
